<div data-role="view" data-layout="overview-layout" id="overview-game" data-title="查看照片">
    <div id="scrollview-container">
        <div data-role="scrollview">
            {% for item in filelist %}
                <div class="photo photo_{{ item.id }}"></div>
            {% endfor %}
        </div>
    </div>
    <a alt="device_id={{ device_id }}&type_id={{ type_id }}" data-click="photoPlayClick" data-role="button" style="display: block; margin: 2em; text-align: center;">展示</a>
    <a alt="device_id={{ device_id }}&type_id={{ type_id }}" data-click="photoStopClick" data-role="button" style="display: block; margin: 2em; text-align: center;">分享</a>
</div>

<style>
    #overview-game .photo {
    width: 277px;
    margin: 20px 20px 7px;
    height: 220px;
    display: inline-block;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translatez(0);
}

    {% for item in filelist %}
        .photo_{{item.id}} {background-image: url("/res{{ item.path }}");}
    {% endfor %}

    #scrollview-container {
    margin: 3px 0 1em 0;
    padding-bottom: 10px;
    background: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.3);
    border-width: 1px 0;
    box-shadow: 0 1px 1px rgba(255,255,255,.3);
}

.km-flat #scrollview-container {
    background: transparent;
    border: 0;
    box-shadow: none;
}
</style>

